<!-- fragments/navbar.html -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-expand fixed-top">

        <input type="hidden" id="csrfToken" th:value="${_csrf.token}">

        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Hozzáadás
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/wardrobe-items/save">Ruhadarab feltöltés</a></li>
                    <li><a href="/outfits/save">Outfit összeállítás</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Gardróbom
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/wardrobe-items">Ruhadarabjaim</a></li>
                    <li><a href="/outfits">Outfiteim</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" role="button" data-bs-toggle="dropdown">
                    <i class="bi bi-person fs-2"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="">Vissza a főoldalra</a></li>
                    <li><a href="">Kijelentkezés</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>