@import "base.css";

body {
    padding-top: 0;
}


h1 {
    font-size: 3em;
    margin-top: 2em;
}

h2 {
    text-align: center;
}

.login-form {
    background-color: #6F1A07;
    color: #F7F3E3 !important;
    width: 35%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 5em;
}

.login-form h2 {
    letter-spacing: 1px;
    align-self: center !important;
    margin-bottom: 2em;
}

.form-control{
    background-color: #F7F3E3;
    width: 31em;
    height: 3em;
    border: none;
    border-radius: 15px;
    color: #4D1E10 !important;
    caret-color: #4D1E10 !important;
}

.form-control:focus {
    border: none;
    box-shadow: none;
    color: #B3B6B7;
    background-color: #B3B6B7;
}

.form-control::placeholder {
    color: rgba(77, 30, 16, 0.7);
}

.form-label {
    margin-top: 2em;
}

.btn {
    background-color: #B3B6B7;
    color: #4D1E10;
    border: none;
    border-radius: 15px;
    width: 31em;
    height: 3em;
    margin-top: 6em;
}

.btn:hover {
    border: none !important;
}

p {
    font-size: 20px;
    margin-top: 4em;
}

a {
    color: #B3B6B7;
}

a:hover {
    color: #F7F3E3;
}

.error-message, .logout-message {
    margin: 0;
    background-color: #F7F3E3;
    color: #4D1E10;
    border-radius: 15px;
    padding: 0.6em;
    text-align: center;
    height: 3em;
}
