.navbar {
    background-color: #6F1A07;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 67px;
    font-size: large;
}

::selection {
    background: #F7F3E3;
    color: #6F1A07;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 2em;
    vertical-align: center;
}

.dropdown-menu {
    width: 200px;
}

.navbar .nav-link i {
    color: #F7F3E3 !important;
}

.navbar .nav-link:hover i, .navbar .nav-link:focus i, .navbar .nav-link:active i {
    color: #B3B6B7 !important;
}

.navbar .nav-link {
    color: #F7F3E3;
}

.navbar .nav-link:hover {
    color: #B3B6B7;
}

.navbar .nav-link.dropdown-toggle.show {
    color: #F7F3E3 !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #F7F3E3;
}

a:hover {
    color: #B3B6B7;
}

.nav-item .dropdown-menu {
    background-color: #6F1A07;
    padding: 1em;
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-menu li:first-child {
    padding-bottom: 0.5em;
}

button {
    background-color: #6F1A07;
    color: #F7F3E3;
    border: none;
}

button:hover {
    color: #B3B6B7;
}

.full-weather-widget.collapse {
    transition: all 0.4s ease;
    background-color: rgba(179, 182, 183, 0.2);
    border-radius: 1rem;
    padding: 1rem;
}
.weather-btn, .weather-btn:hover, .weather-btn:active, .weather-btn:focus {
    background-color: #6F1A07 !important;
    border-radius: 15px !important;
    width: 3rem !important;
    height: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1em;
    margin-left: 2em;
    color: #F7F3E3 !important;
}

