@import "navbar.css";
@import "base.css";
@import "form.css";

form {
    max-width: 2000px;
}

.carousel {
    max-width: 350px;
    margin: 0 auto;
}

.carousel img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 8px;
}

.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(30%) sepia(20%) saturate(300%) hue-rotate(10deg) brightness(80%);
}

@media (max-width: 768px) {
    .carousel-control-prev {
        left: -25px;
    }

    .carousel-control-next {
        right: -25px;
    }
}

.custom-col-text {
    width: 35%;
}

.custom-col {
    width: 15%;
}

.outfit-header button {
    background-color: #6F1A07;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    color: #F7F3E3;
    height: 3em;
    width: 100%;
}

.outfit-header button:hover {
    background-color: #F7F3E3 !important;
    border: #6F1A07 solid !important;
    color: #4D1E10 !important;
    border-radius: 15px;
}

.carousel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    margin-top: 7rem;
}

@media (max-width: 992px) {
    .carousel-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .carousel-grid {
        grid-template-columns: 1fr;
    }
}

.alert {
    background-color: #6F1A07;
    color: #F7F3E3;
    font-weight: bold;
}

h1 {
    padding-top: 0.5em;
}

h4 {
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 1em;
}

.carousel-grid {
    margin-bottom: 3em;
}

.outfit-header {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .outfit-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .outfit-header > * {
        width: 60%;
    }

}

.badge-custom {
    border: #6F1A07 solid 2px;
    background-color: #B3B6B7;
    color: #4D1E10;
}

.btn-close {
    background-color: #F7F3E3 !important;
}