@import "login.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.login-form h2 {
    margin-bottom: 0 !important;
}

.alert {
    height: 3em;
    background-color: #4D1E10 !important;
    color: #F7F3E3;
    border: none;
    text-align: center;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}