@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
    width: 100%;
    height: 44vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #f9f4e4;
    margin-top: 1em !important;
}

@media (max-width: 1000px) {
    .banner {
        height: 55vh;
    }
}

/* Slider (3D forgó henger) */
.banner .slider {
    position: absolute;
    /*kep merete*/
    width: clamp(150px, 20vw, 250px);
    height: clamp(150px, 30vw, 400px);
    top: 30%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1vw);
    animation: autoRotate 30s linear infinite;
    z-index: 2;
}

@keyframes autoRotate {
    from {
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

/* Egyes képelemek (szög és sugarak számítása CSS változókból) */
.banner .slider .item {
    position: absolute;
    inset: 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(clamp(400px, 25vw, 300px));
}

.banner .slider .item img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 5px 5px rgba(77, 30, 16, 0.5);
    background: #fff;
}

/* Cím */
.banner .content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #4D1E10;
}
