@import "base.css";
@import "navbar.css";
@import "form.css";

.custom-col {
    max-width: 100% !important;
}

.btn {
    width: 100% !important;
    height: 3em;
}

.container {
    margin-top: 5em;
}

h1 {
    margin-top: 2em;
}

.form-control {
    margin-bottom: 1.5em;
}

img {
    margin-top: 1em;
}

.badge-custom {
    font-size: 1em !important;
    height: 3em;
    border: #6F1A07 solid 2px;
    background-color: #B3B6B7;
    color: #4D1E10;
}

.btn-close {
    background-color: #F7F3E3 !important;
    height: 1.5em !important;
}

.btn-close:hover {
    border: #6F1A07 solid 2px;
}