@import "base.css";
@import "navbar.css";
@import "form.css";

.custom-col {
    max-width: 100% !important;
}

.btn {
    width: 100% !important;
    height: 3em;
}

.container {
    margin-top: 5em;
}

h1 {
    margin-top: 2em;
}

.form-control {
    margin-bottom: 1.5em;
}

img {
    margin-top: 1em;
}