.full-weather-widget{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 6vw;
    margin: 1vw;
}

.weather-widget{
    margin:0;
}

.forecast-container {
    display: flex;
    gap: 1vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.forecast-hour {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.2s ease, background 0.2s ease;
    border: #6F1A07 solid 3px;
    border-radius: 20px;
    background-color: rgba(179, 182, 183, 0.5);
    padding: 20px;
    height: 8.5rem;
}

.forecast-hour .time {
    font-size: 1vw;
    color: #4D1E10;
}

.forecast-hour .forecast-icon {
    max-height: 3vw;
}

.forecast-hour .temp {
    font-size: 1vw;
    color: #6F1A07;
}
