.full-weather-widget{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 6vw;
    margin: 1vw;
    opacity: 65%;
}

.weather-widget{
    margin:0;
}

.forecast-container {
    display: flex;
    gap: 1vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: 1.5vw;
}

.forecast-hour {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 5vw;
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.2s ease, background 0.2s ease;
}

.forecast-hour .time {
    font-size: 1vw;
    color: #2b2118;
}

.forecast-hour .forecast-icon {
    max-height: 3vw;
}

.forecast-hour .temp {
    font-size: 1vw;
    color: #6F1A07;
}
