
.weather-widget {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.weather-widget .icon-info-container{
    display: flex;
    gap: 2vw;
}

.weather-widget .weather-icon {
    height: 7vw;
    object-fit: contain;
}

.weather-widget .weather-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.weather-widget .temperature {
    font-size: 3vw;
    color: #6f1a07;
}

.weather-widget .wind {
    font-size: 1.3vw;
    color: #2b2118;
}

.weather-widget .current-date{
    font-size: 2vw;
}