.full-weather-widget{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.weather-widget{
    margin:0;
}

.forecast-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.forecast-hour {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.2s ease, background 0.2s ease;
    border: #6F1A07 solid 3px;
    border-radius: 20px;
    background-color: rgba(179, 182, 183, 0.5);
    padding: 1rem;
    height: 8.5rem;
}

.forecast-hour .time {
    font-size: 0.9rem;
    color: #4D1E10;
}

.forecast-hour .forecast-icon {
    max-height: 2.5rem;
}

.forecast-hour .temp {
    font-size: 1rem;
    color: #6F1A07;
}

@media (max-width: 768px) {
    .full-weather-widget {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .weather-widget {
        width: 90%;
        max-width: 400px;
        padding: 1rem;
    }

    .weather-widget .temperature {
        font-size: 1.3rem;
    }

    .weather-widget .weather-icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    .forecast-hour {
        width: 4rem;
        padding: 0.8rem;
    }

    .forecast-hour .time,
    .forecast-hour .temp {
        font-size: 0.8rem;
    }
}
