.weather-widget {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border: 3px solid #6F1A07;
    background-color: rgba(179, 182, 183, 0.5);
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.weather-widget .icon-info-container{
    display: flex;
    gap: 2vw;
}

.weather-widget .weather-icon {
    height: 3vw;
    object-fit: contain;
}

.weather-widget .weather-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.weather-widget .temperature {
    font-size: 1.5vw;
    color: #6f1a07;
}

.weather-widget .wind {
    font-size: 0.8vw;
    color: #4D1E10;
}

.weather-widget .current-date{
    font-size: 0.8vw;
    color: #6F1A07;
}