<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SuitUp!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/weather-widget.css}">
    <link rel="stylesheet" th:href="@{/css/weather-forecast-widget.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/season-widget.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="full-weather-widget collapse" id="collapseWeather">
    <div th:replace="fragments/weather-widget :: weather-widget"></div>
    <div th:replace="fragments/weather-forecast-widget :: weather-forecast-widget"></div>
</div>

<div class="banner">
    <div class="content" style="width: 100%">
        <h2 th:text="${currentSeason} + ' ruhadarabjaid'"></h2>
        <div class="alert mt-3 text-center"  th:if="${#lists.isEmpty(seasonalItems)}">
            <p class="mb-3 fs-5" th:text="'Jelenleg nincs '+  ${currentSeason} + ' ruhadarabod.'">Jelenleg nincs kedvenc
                ruhadarabod.</p>

            <a th:href="@{/wardrobe-items/save}" class="btn btn-outline-primary" >
                <i class="bi bi-plus-circle me-2"></i>
                Ruhadarab hozzáadása
            </a>
        </div>
    </div>



    <div class="slider" th:style="'--quantity:' + ${#lists.size(seasonalItems)}">
        <div class="item"
             th:each="item, iterStat : ${seasonalItems}"
             th:style="'--position:' + ${iterStat.index + 1}">
            <a th:href="@{/outfits/save(selectedId=${item.id}, type=${item.type})}">
                <img title="Kattints a képre, és készíts vele outfitet!" th:src="${item.imageUrl}" th:alt="${item.type}"
                     style="width: auto; height: 10rem; min-width: 15rem; max-width: 15rem; object-fit: contain;">
            </a>
        </div>
    </div>
</div>


<div class="container mt-5">

    <h2 class="text-center mb-4">Legkedveltebb ruhadarabjaid</h2>

    <div class="alert  mt-3 text-center" th:if="${#lists.isEmpty(favourites)}">
        <p class="mb-3 fs-5">Jelenleg nincs kedvenc ruhadarabod.</p>

        <a th:href="@{/wardrobe-items/save}" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle me-2"></i>
            Ruhadarab hozzáadása
        </a>

        <a th:href="@{/outfits/save}" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle me-2"></i>
            Outfit összeállítás
        </a>
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="item : ${favourites}">
                <a th:href="@{/outfits/save(selectedId=${item.id}, type=${item.type})}">
                    <img title="Kattints a képre, és készíts vele outfitet!" th:src="${item.imageUrl}" alt="Favourite outfit" class="zoom"
                         style="width: auto; height: 10rem; min-width: 15rem; max-width: 15rem; object-fit: contain;">
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        observer: true,
        observeParents: true,
        slidesPerView: 4,
        spaceBetween: 10,

        pagination: {
            el: ".swiper-pagination",
            clickable: true,

        },
        breakpoints: {

            0: {
                slidesPerView: 1,
                spaceBetween: 0
            },

            576: {
                slidesPerView: 2,
                spaceBetween: 0
            },

            768: {
                slidesPerView: 3,
                spaceBetween: 0
            },

            992: {
                slidesPerView: 4,
                spaceBetween: 0
            },

            1200: {
                slidesPerView: 5,
                spaceBetween: 0
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script th:src="@{/js/logout-confirmation.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
