<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100 flex-nowrap">
            <div class="col py-3">
                <h1>SuitUp!</h1>
                <h2>Ahol minden nap stílusosan kezdődik.</h2>
                <div>időjárás</div>
            </div>
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 login-form">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 h-100">
                    <h2>Bejelentkezés</h2>
                    <form class="needs-validation" th:action="@{/auth/login}" method="post" novalidate>

                        <div th:if="${param.logout}">
                            <p class="logout-message">Sikeresen kijelentkeztél!</p>
                        </div>

                        <div th:if="${param.error}">
                            <p class="error-message">Hibás felhasználónév vagy jelszó!</p>
                        </div>

                        <div>
                            <label class="form-label" for="user-name">Felhasználónév</label>
                            <input type="text" name="username" class="form-control" id="user-name" placeholder="Felhasználónév" required>
                            <div class="invalid-feedback">
                                Bejelentkezéshez kötelező a felhasználónevet megadni!
                            </div>
                        </div>

                        <div>
                            <label class="form-label" for="pswd">Jelszó</label>
                            <input type="password" name="password" class="form-control" id="pswd" placeholder="Jelszó" required>
                            <div class="invalid-feedback">
                                Bejelentkezéshez kötelező a jelszót megadni!
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Belépés</button>

                    </form>

                    <p>Még nincs fiókod? <a th:href="@{/auth/register}">Regisztrálj itt!</a></p>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/validation.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>