<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruhadarabjaim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/wardrobe-items.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div>Időjárás</div>

<div class="container mt-5">
    <h2 class="mb-4 text-center">Ruhadarabjaim</h2>

    <div class="alert mt-3" th:if="${#lists.isEmpty(wardrobeItems)}">
        Nincs elérhető ruhadarab.
    </div>

    <div class="row g-4">

        <div class="col-sm-5 col-md-4 col-lg-3" th:each="item : ${wardrobeItems}">
            <div class="card">
                <img th:src="${item.imageUrl}" class="card-img-top" th:alt="${item.type}">
                <div class="card-body">
                    <p class="card-text mb-1">
                        <span class="badge" th:text="${item.type}"></span>
                        <span class="badge" th:text="${item.color}"></span>
                        <span class="badge" th:text="${item.season}"></span>
                        <span class="badge" th:text="${item.brand}"></span>
                        <span class="badge" th:text="${item.material}"></span>
                    </p>

                    <button class="btn btn-primary modify-btn">Módosítás</button>
                    <button class="btn btn-primary delete-btn">Törlés</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>